
.root {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 110px;
  max-width: 200px;
  max-height: 110px;
  padding: 1rem;
}

.active {
  background-color: hsl(263, 100%, 50%);
  transition-duration: 0.5s;
}

.timeSpent {
  font-size: 30px;
  font-weight: 500;
}